
<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">About this App</h1>
    <p class="lead">
        The main purpose of a to do list is to provide yourself with a list of your priorities in order to ensure that you don't forget anything and are able to effectively plan out your tasks so that they are all accomplished in the correct time frame. A well maintained to do list will set your mind at ease since you will always have a clear picture of what you need to get done.
    </p>
    <hr class="my-4">
    <p>Maintain your day-to-day tasks or list, everything that you have to do here.</p>
  </div>